# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
*.local

# typescript build artifacts
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example
